<div class="newtestimonial">
  <div>  
  <div class="testimonial__col__main__wrapper">
  <img src="{{ 'BRAS8.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>
  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Michel & Sebastien Bras</b> <br>Le Suquet, France</p>
    </div>
  </div>
  </div>
  
  </div>
  
  </div>
  <div>
    <div class="testimonial__col__main__wrapper">
  <img src="{{ 'LOISEAU_PORTRAITS_0201.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>
  {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p>
  <p class="testimonial__col__subtext2 b1"><b>Michel & Sebastian Bras</b> Le Suqet, France</p> {% endcomment %}
  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Blanche Loiseau </b> <br>Loiseau De France, Japan</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
  <div>
    <div class="testimonial__col__main__wrapper">
  <img src="{{ 'EricFRECHON.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>

  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Eric Frechon</b> <br>Epicure France</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
    <div>
    <div class="testimonial__col__main__wrapper">
  <img src="{{ '733751-280854.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>

  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Ross Lewis</b> <br>Chapter One Ireland</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
    <div>
    <div class="testimonial__col__main__wrapper">
  <img src="{{ 'YAMAMOTO.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>

  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Kenichi Yamamoto</b> <br>L’alchimiste Japan</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
     <div>
    <div class="testimonial__col__main__wrapper">
  <img src="{{ 'MatthiasMARC.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>

  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Matthias Marc</b> <br>Substance France</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
     <div>
    <div class="testimonial__col__main__wrapper">
  <img src="{{ 'RaymondBlancHD.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>

  
  <div class="testimonialslide">
    <div>
    {% comment %} <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p> {% endcomment %}
    <p class="testimonial__col__subtext2 b1"><b>Raymond Blanc</b> <br>Le Manoir Aux Quat’Saisons  UK</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
  
</div>

{% comment %} <div class="desktop__testimonial">
  <div class="testimonial__col__bg__wrapper">
  <div class="testimonial__col__main__wrapper">
  <img src="{{ 'MichelSebastianBras2.webp' | asset_url }}" class="testimonial__col__image"/>
  <div class="testimonial__col__text__wrapper">
  <h1 class="testimonial__col__head">Trusted by the Finest</h1>
  <h1 class="testimonial__col1__head"><span class="testimonial__span__col">Chefs</span> Worldwide</h1>
  
  <div class="testimonialslide">
    <div>
    <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p>
    <p class="testimonial__col__subtext2 b1"><b>Michel & Sebastien Bras</b> <br>Le Suquet, France</p>
    </div>
  
  </div>
  </div>
  
  </div>
  </div>
</div> {% endcomment %}
{% comment %} <div class="tablet__mobile__testimonial">
<div class="tablet__mobile__testimonial__bg">
  <div class="tablet__mobile__testimonial__wrapper">
  <div class="tablet__mobile__testimonial__text__wrapper">
    <h1 class="tab__mob__testimonial__head">Trusted by the Finest</h1>
  <h1 class="tab__mob__testimonial__head"><span class="tab__mob__testimonial__span__col">Chefs</span> Worldwide</h1>
    <div class="testimonialslidemobile">
    <div>
    <p class="testimonial__col__subtext b1">“Probably the best Cookware we’ve ever worked with.”</p>
    <p class="testimonial__col__subtext2 b1"><b>Michel & Sebastien Bras</b><br> Le Suquet, France</p>
    </div>
  
  </div>
    
  </div>
  <div class="testimonial__mobile__image__wrapper">
      <img src="{{ 'MichelSebastianBras.jpg' | asset_url }}" class="col__image"/>
  </div>
  </div>
</div>
</div> {% endcomment %}
<style>

.tablet__mobile__testimonial{
  display:none;
}


.newtestimonial {
    background-color:#FFF0E2;
  position: relative;
 
}

.newtestimonial .slick-prev, 
.newtestimonial .slick-next {
  position: absolute;
  top: 50%; /* Align the arrows vertically at the center */
  transform: translateY(-50%); /* Adjust for centering */
  z-index: 1;
  width: 40px; /* Fixed width for the arrow button */
  height: 40px; /* Fixed height for the arrow button */
}

.newtestimonial .slick-prev {
  left: 40px; /* Adjust the horizontal position as needed */
  border:none;
  border-radius:50px;
  background-color:#FAB0B1;
}

.newtestimonial .slick-next {
  right: 40px; /* Adjust the horizontal position as needed */
   border:none;
  border-radius:50px;
  background-color:#FAB0B1;
}

/* Optional: Style the arrows */
.newtestimonial .slick-prev:before,
.newtestimonial .slick-next:before {

  font-size: 24px; /* Adjust the size of the arrows */
  color: #333; /* Change the color of the arrows */
  line-height: 0px; /* Align arrow icon vertically within the button */
  text-align: center; /* Center the arrow icon */
}

/* Prevent content from shifting the height */
.newtestimonial .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
height:auto;
  /*min-height: 400px;  Adjust based on your content */
}

.testimonial__col__bg__wrapper{
    background-color:#FFF0E2;
    width:100%;
    display:flex;
    justify-content:center;
}
.testimonial__col__main__wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:100px;
    margin-left:70px;
    margin-right:70px;
    margin-top:90px;
    margin-bottom:90px;
   
}

.testimonial__col__image{
   border-radius: 15px;
      width: 100%;
      max-width:729px;
 
      object-fit: cover;
}





{% comment %} @media screen and (max-width: 3000px){
.testimonial__col__image{
border-radius:15px;
width:100%;
max-width:529px;
height:auto;
}
}
@media screen and (max-width: 2000px){
.testimonial__col__image{
border-radius:15px;
width:100%;
max-width:529px;
height:auto;
}
} {% endcomment %}

@media screen and (max-width: 1700px){
.testimonial__col__image{
border-radius:15px;
width:100%;
max-width:529px;
height:auto;
}
}
.testimonial__col__text__wrapper{
    display:flex;
    flex-direction:column;
}
.testimonial__col__head,
.testimonial__col1__head,
.testimonial__col2__head,
.testimonial__col__subtext,
.testimonial__col__subtext2 {
    margin-left:auto;
    margin-right:auto;
}
.testimonial__col__head{

    text-align:center;
    color:#4C303F;
    font-family:columbia-reqular;
}

.testimonial__col1__head{
     text-align:center;
     color:#4C303F;
     font-family:columbia-reqular;
     margin-bottom:60px;
}
.testimonial__span__col{
    font-family:gourment-french;
   font-size:58px;
         line-height:72px;
}
.testimonial__col__subtext{
    text-align:center;
    max-width:381px;
    color:#4C303F;
    margin-bottom:40px;
    font-family:work-sans;
}
.testimonial__col__subtext2{
    text-align:center;
    max-width:301px;
    color:#4C303F;
      font-family:work-sans;
}

.testimonialslide{
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

/* Style the container of the dots */
.slick-dots {
  bottom: 10px; /* Adjust vertical position */
  display:flex;
  justify-content:center;
}

/* Style individual dots */
.slick-dots li {
  margin: 20px 5px; /* Space between dots */
}

.slick-dots li:nth-child(2) button {
  background-color: yellow; /* Second dot color */
  width:40px;
}
.slick-dots button {
display:none;
}

/* Style active dot */
.slick-dots .slick-active button {
  background-color: #F5A623; /* Active dot color */
  opacity: 1; /* Active dot opacity */
}

/* Optional: Remove dot outline */
.slick-dots button:focus {
  outline: none;
}

@media screen and (max-width: 1200px){
 .desktop__testimonial{
  display:none;
}
.tablet__mobile__testimonial{
  display:block;
}

.tablet__mobile__testimonial__bg{
      background-color:#FFF0E2;
    }
.newtestimonial .slick-prev, 
.newtestimonial .slick-next {
  position: absolute;
  top: 25%; /* Align the arrows vertically at the center */
  transform: translateY(-50%); /* Adjust for centering */
  z-index: 1;
  width: 40px; /* Fixed width for the arrow button */
  height: 40px; /* Fixed height for the arrow button */
}

.newtestimonial .slick-prev {
  left: 36px; /* Adjust the horizontal position as needed */
}

.newtestimonial .slick-next {
  right: 36px; /* Adjust the horizontal position as needed */
}
    .testimonial__col__main__wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column-reverse;
    gap:50px;
    margin-left:36px;
    margin-right:36px;
    margin-top:60px;
    margin-bottom:60px;
}
    .tablet__mobile__testimonial__wrapper{
      margin-left:36px;
      margin-right:36px;
      
      display:flex;
      justify-content:center;
      flex-direction:column;
      gap:20px;
     
    }

    .tablet__mobile__testimonial__text__wrapper{
      
      display:flex;
      justify-content:center;
      flex-direction:column;
      text-align:center;
      padding-top:120px;
      padding-bottom:60px;
    }

    .tab__mob__testimonial__head{
      font-size:32px;
      line-height:40px;
      letter-spacing:0.64px;
      color:#4C303F;
      font-family:columbia-reqular;
    }

    .tab__mob__testimonial__span__col{
      font-size:38px;
      line-height:10px;
      letter-spacing:0.66px;
      color:#4C303F;
      font-family:gourment-french;
    }

    .testimonialslidemobile{
      padding-top:50px;
    }

    .testimonial__col__subtext{
    text-align:center;
    max-width:326px;
    color:#4C303F;
    margin-bottom:40px;
    font-family:work-sans;
    font-size:18px;
    line-height:24px;
    letter-spacing:0.36px;

}

.testimonial__col1__head{
     text-align:center;
     color:#4C303F;
     font-family:columbia-reqular;
     margin-bottom:30px;
}
.testimonial__col__subtext2{
    text-align:center;
    max-width:301px;
    color:#4C303F;
      font-family:work-sans;
        font-size:18px;
    line-height:24px;
    letter-spacing:0.36px;
}

.testimonial__mobile__image__wrapper{
  padding-bottom:50px;
}
           .col__subtext{
        text-align:center;
        max-width:585px;
        color:#4C303F;
        font-family:work-sans;
        font-size:18px;
        line-height:24px;
    }
    .col__button__mobile__wrapper{
      
      display:flex;
      justify-content:center;
    }
    .col__button__mobile{
      
     
    }



.col__mobile__image__wrapper{
  display:flex;
  justify-content:center;
      margin-bottom:50px;
}


        .col__image {
       border-radius: 15px;
      width: 100%;
      height: 400px;
    }
}

@media screen and (max-width: 640px){
 .desktop__testimonial{
  display:none;
}
.tablet__mobile__testimonial{
  display:block;
}

.newtestimonial .slick-prev, 
.newtestimonial .slick-next {
  position: absolute;
  top: 28%; /* Align the arrows vertically at the center */
  transform: translateY(-50%); /* Adjust for centering */
  z-index: 1;
  width: 40px; /* Fixed width for the arrow button */
  height: 40px; /* Fixed height for the arrow button */
}



.newtestimonial .slick-prev {
  left: 36px; /* Adjust the horizontal position as needed */
  border:none;
  border-radius:50px;
  background-color:transparent;
}

.newtestimonial .slick-next {
  right: 36px; /* Adjust the horizontal position as needed */
   border:none;
  border-radius:50px;
  background-color:transparent;
}

.testimonial__col__main__wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column-reverse;
    gap:10px;
    margin-left:36px;
    margin-right:36px;
    margin-top:60px;
    margin-bottom:60px;
}


.tablet__mobile__testimonial__bg{
      background-color:#FFF0E2;
    }
    .tablet__mobile__testimonial__wrapper{
      margin-left:36px;
      margin-right:36px;
      
      display:flex;
      justify-content:center;
      flex-direction:column;
      gap:20px;
     
    }

    .tablet__mobile__testimonial__text__wrapper{
      
      display:flex;
      justify-content:center;
      flex-direction:column;
      text-align:center;
      padding-top:60px;
      padding-bottom:60px;
    }

    .tab__mob__testimonial__head{
      font-size:25px;
      line-height:33px;
      letter-spacing:0.5px;
      color:#4C303F;
      font-family:columbia-reqular;
    }
.testimonial__col1__head{
     text-align:center;
     color:#4C303F;
     font-family:columbia-reqular;
     margin-bottom:30px;
}
    .tab__mob__testimonial__span__col{
      font-size:33px;
      line-height:10px;
      letter-spacing:0.66px;
      color:#4C303F;
      font-family:gourment-french;
    }

    .testimonialslidemobile{
      padding-top:50px;
    }

    .testimonial__col__subtext{
    text-align:center;
    max-width:303px;
    color:#4C303F;
    margin-bottom:40px;
    font-family:work-sans;
    font-size:15px;
    line-height:20px;
    letter-spacing:0.3px;

}
.testimonial__col__subtext2{
    text-align:center;
    max-width:301px;
    color:#4C303F;
      font-family:work-sans;
        font-size:15px;
    line-height:20px;
    letter-spacing:0.3px;
}

.testimonial__mobile__image__wrapper{
  padding-bottom:50px;
}
           .col__subtext{
        text-align:center;
        max-width:585px;
        color:#4C303F;
        font-family:work-sans;
        font-size:18px;
        line-height:24px;
    }
    .col__button__mobile__wrapper{
      
      display:flex;
      justify-content:center;
    }
    .col__button__mobile{
      
     
    }
.testimonial__col__image{
   border-radius: 15px;
      width: 100%;
      max-width:303px;
      height:400px;
      object-fit: cover;
      margin-top:60px;
      margin-left:36px;
      margin-right:36px;
}


.col__mobile__image__wrapper{
  display:flex;
  justify-content:center;
      margin-bottom:50px;
      
}
        .col__image {
       border-radius: 15px;
      width: 100%;
      height: 400px;
    }

  
}


</style>

<script type="text/javascript">


$(document).ready(function(){
  $('.newtestimonial').slick({
    autoplay: false,
  autoplaySpeed: 2000,
    arrows:true,
prevArrow: '<button type="button" class="slick-prev tprev"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#4C303F" d="m6.523 12.5l3.735 3.735q.146.146.153.344q.006.198-.153.363q-.166.166-.357.168t-.357-.162l-4.382-4.383q-.243-.242-.243-.565t.243-.566l4.382-4.382q.147-.146.347-.153q.201-.007.367.159q.16.165.162.353q.003.189-.162.354L6.523 11.5h12.38q.214 0 .358.143t.143.357t-.143.357t-.357.143z"/></svg></button>',
    nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#4C303F" d="M17.073 12.5H5.5q-.213 0-.357-.143T5 12t.143-.357t.357-.143h11.573l-3.735-3.734q-.146-.147-.152-.345t.152-.363q.166-.166.357-.168t.357.162l4.383 4.383q.13.13.183.267t.053.298t-.053.298t-.183.268l-4.383 4.382q-.146.146-.347.153t-.367-.159q-.16-.165-.162-.354t.162-.354z"/></svg></button>',
    responsive: [
    {
      breakpoint: 640,
      settings: {
        autoplay: true,
        autoplaySpeed: 2000,
      }
    }
  ]
  });
});
	

</script>