<div class="desktop__bestsellers">
    <hr class="signature__horizontal__line">
    <div class="highlight__col__main__wrapper">
    <div class="hightlight__row1__wrapper">
    <div>
    <h1><span class="signature__split">The</span> Bestsellers</h1>
    </div>
    <div>
     <button class="highlight__heading__button"><a href="https://www.cristelusa.com/collections/best-sellers">All Products</a></button>
    </div>
    </div>
    <div class="hightlight__row2__wrapper">
    <div>
    <div class="stainless__main__wrapper" style="padding-bottom:40px;">
        <div class="image-wrapper">
            <img src="{{ 'FryingPan1.webp' | asset_url }}" class="hightlight__main-image"/>
            <div class="hover-image">
                <img src="{{ 'newFlyingPan.webp' | asset_url }}" class="highlight__secondary-image"/>
                <div class="details">
                    {% comment %} <button>Add to Cart</button> {% endcomment %}
                    <button><a href="https://www.cristelusa.com/collections/best-sellers/products/stainless-steel-frying-pan-castel-pro-ultraply-fixedhandle">Details</a></button>
                </div>
            </div>
        </div>
         <div class="bestsellers__caption__wrapper">
            <p>Castel Pro<sup><span class="">®</span></sup> Ultraply<sup><span class="">®</span></sup> Collection</p>
            <a href="https://www.cristelusa.com/collections/best-sellers/products/stainless-steel-frying-pan-castel-pro-ultraply-fixedhandle"><h2>Frying Pan</h2></a>
            
            <p>From $149.99</p>
        </div>
    </div>
    </div>
    <div>
    <div class="stainless__main__wrapper">
        <div class="image-wrapper">
            <img src="{{ 'Setof3stainlesssteelsaucepanswithglasslids 1.webp' | asset_url }}" class="hightlight__main-image"/>
            <div class="hover-image">
                <img src="{{ 'new-saucepansset.webp' | asset_url }}" class="highlight__secondary-image"/>
                <div class="details">
                    {% comment %} <button>Add to Cart</button> {% endcomment %}
                    <button><a href="https://www.cristelusa.com/collections/best-sellers/products/set-of-3-saucepans-1826%C2%AE-collection">Details</a></button>
                </div>
            </div>
        </div>
         <div class="bestsellers__caption__wrapper">
             <p>1826<sup><span class="">®</span></sup> Collection</p>
               <a href="https://www.cristelusa.com/collections/best-sellers/products/set-of-3-saucepans-1826%C2%AE-collection"><h2>3-Piece Saucepan Set With Lids</h2></a>
            
            <p>From $349.99</p>
        </div>
    </div>
    </div>
    <div>
    <div class="stainless__main__wrapper">
        <div class="image-wrapper">
            <img src="{{ 'desktopnew13-PieceSet-2.webp' | asset_url }}" class="hightlight__main-image"/>
            <div class="hover-image">
                <img src="{{ 'new13-PieceSet.webp' | asset_url }}" class="highlight__secondary-image"/>
                <div class="details">
                    {% comment %} <button>Add to Cart</button> {% endcomment %}
                    <button><a href="https://www.cristelusa.com/collections/best-sellers/products/13-piece-set-1">Details</a></button>
                </div>
            </div>
        </div>
         <div class="bestsellers__caption__wrapper">
             <p>Strate<sup><span class="">®</span></sup> Collection</p>
               <a href="https://www.cristelusa.com/collections/best-sellers/products/13-piece-set-1"><h2>13-Piece Set</h2></a>
            
               <p>$1,499.99</p>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
<div class="tablet__mobile__signature__collection">

<div class="">
<div class="tablet__mobile__heading__wrapper">
 <h1><span class="signature__split">The</span><br> Bestsellers</h1>
</div>
<div>
<div class="swiper-container bestsellersslid">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
      <a href="https://www.cristelusa.com/collections/best-sellers/products/stainless-steel-frying-pan-castel-pro-ultraply-fixedhandle">
       <div class="tablet__mobile__swipe__signature__wrapper">

         <img src="{{ 'mobilepxxcpf2.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
        <div>
          <div class="tablet__mobile__higlight__caption__wrapper">
               <p>Castel Pro® Ultraply<sup><span class="">®</span></sup> Ultraply<sup><span class="">®</span></sup> Collection</p>
                <h2>Frying Pan</h2>
                <p>From $149.99</p>
        </div>
        </div>
      </div>
      </a>
     
      </div>
      <div class="swiper-slide">
      <a href="https://www.cristelusa.com/collections/best-sellers/products/set-of-3-saucepans-1826%C2%AE-collection">
        <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobi3casserolesSetof3saucepans1826.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
           <div class="tablet__mobile__higlight__caption__wrapper">
              <p>1826<sup><span class="">®</span></sup>  Collection</p>
                <h2>3-Piece Saucepan Set With Lids</h2>
                <p>From $349.99</p>
        </div>
      </div>
      </a>
      </div>
      <div class="swiper-slide">
      <a href="https://www.cristelusa.com/collections/best-sellers/products/13-piece-set-1">
       <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobile13pieceset.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div class="tablet__mobile__higlight__caption__wrapper">
              <p>Strate<sup><span class="">®</span></sup> Collection</p>
                <h2>13-Piece Set</h2>
                   <p>$1,499.99</p>
        </div>
      </div>
      </a>
      
      </div>
         <div class="swiper-slide">
        <a href="https://www.cristelusa.com/collections/best-sellers/products/stainless-steel-frying-pan-castel-pro-ultraply-fixedhandle">
       <div class="tablet__mobile__swipe__signature__wrapper">

         <img src="{{ 'mobilepxxcpf2.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
        <div>
          <div class="tablet__mobile__higlight__caption__wrapper">
               <p>Castel Pro® Ultraply<sup><span class="">®</span></sup> Ultraply<sup><span class="">®</span></sup> Collection</p>
                <h2>Frying Pan</h2>
                <p>From $149.99</p>
        </div>
        </div>
      </div>
      </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.cristelusa.com/collections/best-sellers/products/set-of-3-saucepans-1826%C2%AE-collection">
        <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobi3casserolesSetof3saucepans1826.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
           <div class="tablet__mobile__higlight__caption__wrapper">
              <p>1826<sup><span class="">®</span></sup>  Collection</p>
                <h2>3-Piece Saucepan Set With Lids</h2>
                <p>From $349.99</p>
        </div>
      </div>
      </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.cristelusa.com/collections/best-sellers/products/13-piece-set-1">
       <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobile13pieceset.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div class="tablet__mobile__higlight__caption__wrapper">
              <p>Strate<sup><span class="">®</span></sup> Collection</p>
                <h2>13-Piece Set</h2>
                   <p>$1,499.99</p>
        </div>
      </div>
      </a>
      </div>
    </div>
  </div>
</div>
 <div class="tab__mob__highlight__button__wrapper"><button class="tablet__mobile__bestsellers__heading__button"><a href="https://www.cristelusa.com/collections/best-sellers">More Products</a></button></div>
</div>
</div>
<style>
.highlight__col__main__wrapper{
     margin-left:170;
    margin-right:170px;
    margin-top:40px;
    display:flex;
    flex-direction:column;
}

.hightlight__row1__wrapper{
    display:flex;
    justify-content:space-between;
}
.hightlight__row2__wrapper{
      display:flex;
    justify-content:space-between;
}

.hightlight__row1__wrapper h1{
    color:#4C303F;
    letter-spacing:0.96px;
    font-family:columbia-reqular;

}

.highlight__heading__button{
    background-color:#FAB0B1;
    border-radius:47px;
    width:191px;
    height:38px;
    color:#4C303F;
    font-size:18px;
    line-height:24px;
    letter-spacing:0.36px;
    font-family:work-sans;
    box-shadow:none !important;
    border:none;
}

.hightlight__row2__wrapper{
    margin-top:40px;
    margin-bottom:60px;
    gap:20px;
}

.image-wrapper {
    position: relative;
    margin:0;
}

.hightlight__main-image, .highlight__secondary-image {
    width: 100%;
    height: auto;
    max-width:439px;
    transition: opacity 0.5s ease-in-out;
    margin:0;
    object-fit:cover;
    border-radius:15px;
}

.highlight__secondary-image, .details {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end;
   gap:20px;
   padding-bottom:20px;
}
.details button{
    background-color:#FFFDF5;
    color:#0C0C0C;
    border:none;
    border-radius:47px;
    width:141px;
    height:38px;
    line-height:24px;
    font-family:work-sans;
}

.hightlight__row2__wrapper h2 {
    width: 300px;
    padding-top: 12px;
    color: #4C303F;
    font-family: columbia-reqular;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
}

.hightlight__row2__wrapper p {
    padding-top: 18px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
    font-family: work-sans;
    color: #838383;
    margin:0;
}

.higlight__caption__wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.bestsellers__caption__wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.bestsellers__caption__wrapper h2{
     width:100%;
     max-width:400px;
    
}




@media screen and (min-width: 3000px){
    .hightlight__main-image, .highlight__secondary-image {
    width: 100%;
    max-width:900px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    margin:0;
    object-fit:cover;
    border-radius:15px;
}
}

{% comment %} mobile tablet {% endcomment %}
@media screen and (max-width: 1200px){
   .desktop__bestsellers{
    display:none;
 }
    .tablet__mobile__intro__collection{
      display:block;
    }
.signature__horizontal__line{
    margin-left:36px;
    margin-right:36px;
    margin-top:50px;
    color:black;
    opacity:0.5;
}
       .tablet__mobile__intro__collection__bg{
       background-color:#FFFDF5;
    }
        .tablet__mobile__world__wrapper{
      margin-left:36px;
      margin-right:36px;
      
      display:flex;
      justify-content:center;
      flex-direction:column;
      gap:20px;
     
    }

       .tablet__mobile__world__text__wrapper{
      
      display:flex;
      justify-content:center;
      flex-direction:column;

      text-align:center;
     
    }

}

@media screen and (max-width: 640px){
 .desktop__bestsellers{
    display:none;
 }
      .tablet__mobile__intro__collection{
      display:block;
    }
.signature__horizontal__line{
    margin-left:36px;
    margin-right:36px;
    margin-top:50px;
    color:black;
    opacity:0.5;
}
    .tablet__mobile__intro__collection__bg{
      background-color:#FFFDF5;
    }
    .tablet__mobile__world__wrapper{
      margin-left:36px;
      margin-right:36px;
      
      display:flex;
      justify-content:center;
      flex-direction:column;
      gap:20px;
     
    }

    .tablet__mobile__world__text__wrapper{
      
      display:flex;
      justify-content:center;
      flex-direction:column;

      text-align:center;
    }
           .col__subtext{
        text-align:center;
        max-width:585px;
        color:#4C303F;
        font-family:work-sans;
        font-size:18px;
        line-height:24px;
    }
    .col__button__mobile__wrapper{
      
      display:flex;
      justify-content:center;
    }
  
  .tablet__mobile__bestsellers__heading__button{
      background-color:#FAB0B1;
    border-radius:47px;
    width:191px;
    height:38px;
    color:#4C303F;
    font-size:18px;
    line-height:24px;
    letter-spacing:0.36px;
    font-family:work-sans;
    box-shadow:none !important;
    border:none;
    margin-bottom:55px;
}
.tablet__mobile__bestsellers__heading__button a{
     color:#4C303F;
}
.tablet__mobile__bestsellers__caption__wrapper h2{
    color:#4C303F;
    font-size:20px;
    line-height:30px;
    letter-spacing:0.4px; 
    text-transform:capitalize;
    font-family:columbia-reqular;
}
.tablet__mobile__bestsellers__caption__wrapper p{
     color:#838383;
    font-size:15px;
    line-height:20px;
    letter-spacing:0.3px; 
    text-transform:capitalize;
    font-family:work-sans;
}
.col__mobile__image__wrapper{
  display:flex;
  justify-content:center;
      margin-bottom:50px;
}
        .col__image {
       border-radius: 15px;
      width: 100%;
      height: 400px;
    }
}

.tab__mob__bestsellers__button__wrapper{
    display:flex;
    justify-content:center;
    padding-top:50px;
    padding-bottom:100px;
}
.tablet__mobile__bestsellers__heading__button{
      background-color:#FAB0B1;
    border-radius:47px;
    width:191px;
    height:38px;
    color:#4C303F;
    font-size:18px;
    line-height:24px;
    letter-spacing:0.36px;
    font-family:work-sans;
    box-shadow:none !important;
    border:none;
}
</style>


<script type="text/javascript">
$(document).ready(function(){
    $(".image-wrapper").hover(
        function() {
            $(this).find(".hightlight__main-image").css("opacity", "0");
            $(this).find(".highlight__secondary-image, .details").css("opacity", "1");
        },
        function() {
            $(this).find(".hightlight__main-image").css("opacity", "1");
            $(this).find(".highlight__secondary-image, .details").css("opacity", "0");
        }
    );

    {% comment %} mobile tablet {% endcomment %}
          var swiper2 = new Swiper(".bestsellersslid", {
    slidesPerView: 1.5,          // Show parts of the previous and next slides
    spaceBetween: 20,            // Space between slides
    grabCursor: true,            // Cursor style when dragging
    centeredSlides:true,
       resizeObserver:true,
          autoHeight:true,
    loop:true,
    autoplay: {
        delay: 2000,             // Auto-slide delay (in ms)
        disableOnInteraction: false, // Continue autoplay after interaction
    },
    
});
});

</script>