<div class="desktop__signature__collection">
    <hr class="signature__horizontal__line">
    <div class="">
    <div class="signature__heading">
    <h1><span class="signature__split">Our</span> Signature Collections</h1>

    </div>
    
    <div class="swipe__navigation__wrapper">
    <div class="swiper-button-next">
       <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#4C303F" d="M17.073 12.5H5.5q-.213 0-.357-.143T5 12t.143-.357t.357-.143h11.573l-3.735-3.734q-.146-.147-.152-.345t.152-.363q.166-.166.357-.168t.357.162l4.383 4.383q.13.13.183.267t.053.298t-.053.298t-.183.268l-4.383 4.382q-.146.146-.347.153t-.367-.159q-.16-.165-.162-.354t.162-.354z"/></svg>
       </div>
    <div class="swiper-button-prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#4C303F" d="M9.904 17.308L4.596 12l5.308-5.308l.708.72L6.523 11.5h12.88v1H6.524l4.089 4.089z"/></svg>
    </div>
    </div>
    <div class="swiper mySwiper">
    
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <a href="https://www.cristelusa.com/pages/strate-collection">
              <div class="swiper__content__wrapper">
             <img src="{{ 'desktopStratelifestylealternative.webp' | asset_url }}" class="sign__image__swip"/>
              <div>
              <h2>Strate<sup><span class="registeredsignhead">®</span></sup> Removable Handle</h2>
              </div>
            </div>
            </a>
          
            </div>
            <div class="swiper-slide">
            <a href="https://www.cristelusa.com/pages/castelpro%C2%AE-5-ply-ultraply%C2%AE">
              <div class="swiper__content__wrapper">
            <img src="{{ 'desktopCastelPro.webp' | asset_url }}" class=""/>
             <div>
              <h2>Castel Pro<sup><span class="registeredsignhead">®</span></sup> Ultraply<sup><span class="registeredsignhead">®</span></sup></h2>
              </div>
           </div>
            </a>
         
            </div>
            <div class="swiper-slide">
            <a href="https://www.cristelusa.com/pages/1826-collection">
                <div class="swiper__content__wrapper">
            <img src="{{ '1826Collection.webp' | asset_url }}" class=""/>
             <div>
              {% comment %} <h2>Castel Pro<sup><span class="regislogo">®</span></sup> Ultraply<sup><span class="regislogo">®</span></sup></h2> {% endcomment %}
              <h2>1826<sup><span class="registeredsignhead">®</span></sup> Collection</h2>
              </div>
           </div>
            </a>
           
            </div>
               <div class="swiper-slide">
               <a href="https://www.cristelusa.com/collections/specialty-items">
                   <div class="swiper__content__wrapper">
            <img src="{{ 'RoasterSignature.webp' | asset_url }}" class=""/>
             <div>
              {% comment %} <h2>Castel Pro<sup><span class="regislogo">®</span></sup> Ultraply<sup><span class="regislogo">®</span></sup></h2> {% endcomment %}
              <h2>Specialty Items</h2>
              </div>
           </div>
               </a>
           
            </div>
        </div>
        
    </div>
    
    </div>
    
</div>

<div class="tablet__mobile__signature__collection">
<div class="">
<div class="tablet__mobile__heading__wrapper">
 <h1><span class="signature__split">Our</span> <br> Signature Collections</h1>
</div>
<div>
<div class="swiper-container tabletmobilesignature">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
      <a href="https://www.cristelusa.com/pages/strate-collection">
         <div class="tablet__mobile__swipe__signature__wrapper">
         <img src="{{ 'mobileStrate.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
        <div>
        <h2>Strate<sup><span class="regislogo">®</span></sup> Removable <br> Handle</h2>
        </div>
      </div>
      </a>
   
      </div>
      <div class="swiper-slide">
      <a href="https://www.cristelusa.com/pages/castelpro%C2%AE-5-ply-ultraply%C2%AE">
          <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobilecastelpro.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div>
              <h2>Castel Pro<sup><span class="regislogo">®</span></sup> Ultraply<sup><span class="regislogo">®</span></sup></h2>
              </div>
      </div>
      </a>
   
      </div>
      <div class="swiper-slide">
      <a href="https://www.cristelusa.com/pages/1826-collection">
         <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobile1826us.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div>
              <h2>1826 Collection</h2>
              </div>
      </div>
      </a>
    
      </div>
          <div class="swiper-slide">
          <a href="https://www.cristelusa.com/collections/specialty-items">
             <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobileSpecialityitems.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div>
              <h2>Specialty Items</h2>
              </div>
      </div>
          </a>
      </div>
        <div class="swiper-slide">
       <a href="https://www.cristelusa.com/pages/strate-collection">
         <div class="tablet__mobile__swipe__signature__wrapper">
         <img src="{{ 'mobileStrate.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
        <div>
        <h2>Strate<sup><span class="regislogo">®</span></sup> Removable <br> Handle</h2>
        </div>
      </div>
      </a>
      </div>
      <div class="swiper-slide">
           <a href="https://www.cristelusa.com/pages/castelpro%C2%AE-5-ply-ultraply%C2%AE">
          <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobilecastelpro.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div>
              <h2>Castel Pro<sup><span class="regislogo">®</span></sup> Ultraply<sup><span class="regislogo">®</span></sup></h2>
              </div>
      </div>
      </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.cristelusa.com/pages/1826-collection">
         <div class="tablet__mobile__swipe__signature__wrapper">
        <img src="{{ 'mobile1826us.webp' | asset_url }}" class="tablet__mobile__sign__image__swip"/>
          <div>
              <h2>1826 Collection</h2>
              </div>
      </div>
      </a>
      </div>
       
    </div>
  </div>
</div>
</div>
</div>
</div>

<style>

.our__signature__bg{
    background-color:#FFFDF5;
}

.tablet__mobile__signature__collection{
    display:none;
}
.signature__heading{
    display:flex;
    justify-content:space-between;
     margin-left:170px;
    margin-right:170px;
    margin-top:60px;
    align-items:center;
}
.signature__heading{
    color:#4C303F;
    letter-spacing:0.96px;
    font-family:columbia-reqular;
    text-align:center;
}
.signature__split{
    font-family:gourment-french;
  font-size:58px;
         line-height:72px;
    letter-spacing:1.2px;

}
.signature__horizontal__line{
    margin-left:170;
    margin-right:170px;
    margin-top:100px;
    color:black;
    opacity:0.5;
}
.swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
         margin-right:170px;
        overflow:hidden;
        object-fit:cover;
    }
.swipe__navigation__wrapper{
    position:relative;
     margin-left:30px;
     margin-right:30px;
     top:250px;
}

   @media screen and (min-width: 3000px){
         .swiper {

        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
     
        overflow:hidden;
        object-fit:cover;
    }
    
    }
     @media screen and (min-width: 2401px){
               .swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
    
        overflow:hidden;
        object-fit:cover;
    }

          .swipe__navigation__wrapper{
    position:relative;
     margin-left:30px;
     margin-right:30px;
     top:350px;
}
     }
     @media screen and (max-width: 2400px){
               .swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
    
        overflow:hidden;
        object-fit:cover;
    }

          .swipe__navigation__wrapper{
    position:relative;
     margin-left:30px;
     margin-right:30px;
     top:330px;
}

     }
         @media screen and (max-width: 2000px){
    .swiper {
    
     
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
      
        overflow:hidden;
        object-fit:cover;
    }
           .swipe__navigation__wrapper{
    position:relative;
     margin-left:30px;
     margin-right:30px;
     top:290px;
}
}
    @media screen and (max-width: 1700px){
    .swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
      
        overflow:hidden;
        object-fit:cover;
    }
}
    @media screen and (max-width: 1600px){
    .swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
       
        overflow:hidden;
        object-fit:cover;
    }
}
@media screen and (max-width: 1500px){
    .swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
        overflow:hidden;
        object-fit:cover;
    }
        .swipe__navigation__wrapper{
    position:relative;
     margin-left:30px;
     margin-right:30px;
     top:240px;
}
}

@media screen and (max-width: 1400px){
    .swiper {
        position: relative;
        margin-top:80px;
        background-color:#FFFDF5;
         margin-left:170px;
        overflow:hidden;
        object-fit:cover;
    }
    .swipe__navigation__wrapper{
    position:relative;
     margin-left:30px;
     margin-right:30px;
     top:220px;
}
}
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color:#FFFDF5;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
.swiper__content__wrapper{
    display:flex;
    flex-direction:column;
}
.swiper__content__wrapper h2{
text-align:center;
font-family:columbia-reqular;
color:#4C303F;
letter-spacing:0.72px;
text-transform:capitalize;
padding-top:30px;
}
    .swiper-slide img {
       border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
    }
    
    .swiper-button-next,
    .swiper-button-prev{
        
    }
    .swiper-button-next{
        background-color:#FAB0B1;
         border-radius:50px;
            width:30px;
            height:30px;
          
    }
    
    .swiper-button-prev{
        background-color:#FAB0B1;
         border-radius:50px;
            width:30px;
            height:30px;
    }



@media screen and (max-width: 1200px){
   .desktop__signature__collection{
        display:none
    }

    .tablet__mobile__signature__collection{
        display:block;
    }

    .tablet__mobile__heading__wrapper{
        text-align:center;
        padding-top:60px;
        padding-bottom:56px;
    }

    .swiper-container{
      width: 100%;
      height: auto;
      overflow:hidden;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.tablet__mobile__swipe__signature__wrapper{
       display:flex;
    flex-direction:column;
}

       .tablet__mobile__heading__wrapper h1{
        color:#4C303F;
        font-size:32px;
        line-height:40px;
        letter-spacing:0.5px;
        font-family:columbia-reqular;
       }

              .signature__split{
    font-family:gourment-french;
  font-size:40px;
         line-height:45px;
    letter-spacing:0.66px;

}

.tablet__mobile__swipe__signature__wrapper h2{
    color:#4C303F;
    font-size:28px;
    line-height:35px;
    letter-spacing:0.56px;
    text-transform:capitalize;
    padding-top:10px;
    font-family:columbia-reqular;
}
    .tablet__mobile__sign__image__swip{
        border-radius: 15px;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
}


@media screen and (max-width: 640px){
    .desktop__signature__collection{
        display:none
    }

    .tablet__mobile__signature__collection{
        display:block;
    }

    .tablet__mobile__heading__wrapper{
        text-align:center;
        padding-top:60px;
        padding-bottom:32px;
    }
       .tablet__mobile__heading__wrapper h1{
        color:#4C303F;
        font-size:25px;
        line-height:33px;
        letter-spacing:0.5px;
        font-family:columbia-reqular;
       }
       .signature__split{
    font-family:gourment-french;
  font-size:40px;
         line-height:45px;
    letter-spacing:0.66px;

}
    .swiper-container{
      width: 100%;
      height: auto;
      overflow:hidden;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #FFFDF5;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.tablet__mobile__swipe__signature__wrapper{
    
}
.tablet__mobile__swipe__signature__wrapper h2{
    color:#4C303F;
    font-size:20px;
    line-height:30px;
    letter-spacing:0.4px;
    text-transform:capitalize;
    padding-top:10px;
    font-family:columbia-reqular;
}
    .tablet__mobile__sign__image__swip{
        width:100%;
        height:400px;
        object-fit:cover;
    }

}
</style>

<script type="text/javascript">
    $(document).ready(function(){
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 2.5,
            spaceBetween: 30,
           grabCursor:true,
           resizeObserver:true,
          autoHeight:true,
          loop:true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
            // when window width is >= 320px
            320: {
            slidesPerView: 1,
            spaceBetween: 30
            },
            // when window width is >= 480px
            480: {
            slidesPerView: 1,
            spaceBetween: 30
            },
            // when window width is >= 640px
            640: {
            slidesPerView: 2.5,
            spaceBetween: 30
            }
        }
        });

{% comment %} mobile tablet {% endcomment %}
          var swiper = new Swiper(".tabletmobilesignature", {
    slidesPerView: 1.5,          // Show parts of the previous and next slides
    spaceBetween: 20,            // Space between slides
    grabCursor: true,            // Cursor style when dragging
    centeredSlides:true,
       resizeObserver:true,
          autoHeight:true,
    loop:true,
    autoplay: {
        delay: 2000,             // Auto-slide delay (in ms)
        disableOnInteraction: false, // Continue autoplay after interaction
    },
    
});

    });
</script>
